# Игнорировать исполняемые файлы
*.exe

# Игнорировать файлы VS Code
.vscode/
tempCodeRunnerFile*
tempCode*

# Игнорировать файлы лабораторных работ
lab*.cpp
lab*.exe

# Игнорировать другие проекты
function.cpp
start_work.cpp
test_work.cpp
works_bot.py
test_graphic.py

# Игнорировать файлы данных
people_data.csv
plan.md

# Файлы Python
*.pyc
__pycache__/