<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main_page.css">
    <title>logoipsum</title>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <nav class="header__nav">
                <img src="/images/logo.svg" alt="Logo">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a class="header__list-link active" href="/">Home</a>
                    </li>
                    <li class="header__list-item">
                        <a class="header__list-link" href="/">Features</a>
                    </li>
                    <li class="header__list-item">
                        <a class="header__list-link" href="/">Pricing</a>
                    </li>
                    <li class="header__list-item">
                        <a class="header__list-link" href="/">Blog</a>
                    </li>
                </ul>
                <a name="register" href="/register" class="header__button">Get started</a>
            </nav>
        </div>
    </header>
</body>
</html>