<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/market.css">
</head>
<body>
    <header>
        <div>
            <a href="/templates/market.html">Market</a>
            <a href="/templates/catalog.html">Catalog</a>
            <a href="/templates/support.html">Support</a>
            <a href="/templates/profile.html">Profile</a>
        </div>
    </header>

    <div>
        <!-- Сделать цикл для показа карточек товара -->
        <div>
            
        </div>

    </div>
</body>
</html>